nav{
    top: 55px;
    right: 50px;
    position: fixed!important;
    z-index: 900;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

nav label{
    display: inline-block;
    font-weight: 700;
    display: block;
    height: 26px;
    width: 32px;
    cursor: pointer;
    margin-bottom: 0px;
}
nav .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    z-index: 12;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
}

_nav:hover{
    background-color: #ffcc66;;
}
nav:hover .hamburger-lines .line {
    background: #ff6666;
}

nav .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

nav .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

nav .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}


#y-offcanvas-menu {
    display: none;
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background-color: black;
    justify-content: center;
    align-items: center;    
}

body.y-offcanvas #y-offcanvas-menu{
    display: flex;
}

body.y-offcanvas{
    height: 1px;
    overflow: hidden;
}

#y-offcanvas-trigger{
    display: none;
}


#y-offcanvas-trigger:checked ~ .menu-items {
    transform: translateX(0);
}

#y-offcanvas-trigger:checked ~ nav .hamburger-lines .line1 {
    transform: rotate(45deg);
}

#y-offcanvas-trigger:checked ~ nav .hamburger-lines .line2 {
    transform: scaleY(0);
}

#y-offcanvas-trigger:checked ~ nav .hamburger-lines .line3 {
    transform: rotate(-45deg);
}


.c-header-navigation{
    list-style: none;
    margin:0;
    padding:0;
    text-align: center;
}

.c-header-navigation li{
    list-style: none;
    color: white;
}

.c-header-navigation li a{
    color: white;
    font-size: 5rem;
    margin-bottom: 2rem;
    text-decoration: none;
}

.c-header-navigation li a:hover,
.c-header-navigation li.current_page_item a{
    color: #ff6666;
}

.c-header-navigation li.y-menusmall a{
    font-size: 2rem;
}

@media only screen and (max-width:900px) {

    nav{
        top: 45px;
        right: 15px;
    }
    
    .c-header-navigation li a{
        color: white;
        font-size: 3rem;
    }
} 